management:
  endpoints.web.exposure.include: "*"
  endpoint.health.show-details: always
  endpoint.gateway.access: read-only
  prometheus.metrics.export.enabled: true
  info.env.enabled: true

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: TRACE

server:
  port: 8081
  shutdown: graceful

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: main-service
              uri: lb://main-service
              predicates:
                - Path=/**
#              filters:
#                - PrefixPath=/api/v1